@using Resources.Resources
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pws_tabs_container pws_tabs_horizontal pws_tabs_horizontal_top pws_tabs_noeffect pws_none">
    <ul class="pws_tabs_controll">
        <li><a class="pws_tab_active tablinks" id="CostCenter-link" href="/BasicInfo/CostCenter/Index">@Language.CostCenters</a></li>
        <li><a class="tablinks" id="BegBalances-link" href="/BasicInfo/CostCenterBegBalances/Index">@Language.BegBalances</a></li>
    </ul>
        
    <div class="demo-tabs pws_tabs_list" style="background:#fff;">

        <div class="pws_hide pws_tab_single pws_show" id="content">
            @RenderBody()
        </div>
    </div>
</div>

@RenderSection("Scripts", false)
