@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Settings/Views/Shared/_Settings.cshtml";
}

<h2>Index</h2>

@*@section Scripts{
    <script>
        $(document).ready(function () {
            $('#company-link').addClass('pws_tab_active');
            $('#branch-link').removeClass('pws_tab_active');
        });
    </script>
}*@

